{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Share whatever you want and the community will discuss on it.</h1>

          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>This is the place where you can talk out loud and people will discuss freely on your views and thoughts</p>
        <p>Anonymous Posts can be made and people can discuss freely on it.</p>
        <p>So just try it out if you have got something inside you which needs to come out.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}